---
title: Big Brothers Big Sisters of the Niagara Region Bowl for Kids Sake
---

<header>
  <h1>Big Brothers Big Sisters of Niagara Bowl for Kids Sake</h1>
  <%= image_tag 'bbbs-logo.png', alt: "Big Brothers Big Sisters of Niagara Bowl for Kids Sake", class: "logo" %>
  <div class="intro">
    <p>Help us ignite power and potential to 180 more youth across Niagara...</p>
  </div>
</header>

<main>
  <div class="theme-logos">
    <%= image_tag '2020-logo.png', alt: "Big Brothers Big Sisters of Niagara Bowl 2020 Bowl for Kids Sake", class: "theme-logo" %>
  </div>
  <h2>2020 Bowl for Kids Sake Dates</h2>

  <div class="events">
    <% data.bowl.events.each do |event| %>
      <%= partial '/_partials/event', :locals => { :e => event } %>
    <% end %>
  </div>

  <h2>Niagara Big Brothers Big Sisters Agencies</h2>

  <div class="agencies">
    <% data.agencies.agencies.each do |agency| %>
      <%= partial '/_partials/agency', :locals => { :a => agency } %>
    <% end %>
  </div>
</main>
